{% extends "base.html" %}

{% block content %}

    <style type="text/css">
                textarea.new_blog_post_body {
                    width: 400px;
                    height: 200px;
                    font-size: 17px;
                    font-family: monospace;
                }
    </style>


    <h1>new post</h1>

    <form method="post">
        <label>
            <div>title</div>
            <input type="text" name="title" value="" autofocus>
        </label>
        <label>
            <div>post</div>
            <textarea class="new_blog_post_body" name="body"></textarea>
        </label>
        <div><span class="error">{{ error }}</span></div>
        <input type="submit">
    </form>

{% endblock %}
